<div style="display: flex">

  <div style="margin: 5rem; display: flex; flex-direction: column; align-items: flex-start;">
    <h3>Meta transaction propagation without a centralized DB (using Gun)</h3>
    <label>Input token</label>
    <input [(ngModel)]=" inT" type="text">
    <label>Output token</label>
    <input [(ngModel)]="outT" type="text">
    <label>Input amount</label>
    <input [(ngModel)]="inA" type="number">
    <label>Input amount</label>
    <input [(ngModel)]="outA" type="number">
    <button style="margin-top: 1rem;" (click)="addOrder()">Add order</button>
  </div>

  <div style="margin: 5rem; display: flex; flex-direction: column; align-items: flex-start;">
    <h3>Received orders</h3>
    <div *ngFor="let entry of data">
      <div>Trading {{entry.inAmount }} of {{entry.inToken}} for {{entry.outAmount}} of {{entry.outToken}}</div>
      <hr>
    </div>
  </div>

</div>
